@import "tailwindcss";
@import "@nuxt/ui";
@import "../theme/breakpoints.css";
@import "../theme/color.css";
/* ===== FONTS ===== */
@theme {
  --font-sans: "Public Sans", sans-serif;
  --font-sans-PlusJakartaSans: "Plus Jakarta Sans", San-serif;
  --font-lora: "Lora";
}

/* .container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
} */
